// Colors
$primary-blue: #1355ff;
$header-color: #080133;
$border-color: #eaeaed;
$soft-grey: #f6f5f8;
$conversation-padding: 40px 30px;
$navHeight: 65px;

$top-padding: 40px;
$converstation-backgorund: #fafafe;

// Breakpoints
$mobile-breakpoint: 600px;
$tablet-breakpoint: 768px;
$normal-breakpoint: 900px;
$wide-breakpoint: 1080px;
