.icon-logo {
  width: 40px;
  height: 40px;
  color: #fff;
  font-family: 'Bruno Ace SC', cursive;
  background-color: $primary-blue;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}
